*,
::before,
::after {
  margin: 0rem;
  padding: 0rem;
  box-sizing: inherit;
}

html,
body {
  font-size: 62.5%;
  box-sizing: border-box;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 4.6rem;
  text-align: center;
  color: #262f72;
  width: 80%;
  margin: 5rem 0rem;
}

.sub-heading {
  display: flex;
  justify-content: flex-start;
  font-size: 2.6rem;
  line-height: 4.6rem;
  font-weight: 500;
  // margin-left: 5rem;
}

.text-wrapper {
  display: flex;
  flex-flow: row;
  // justify-content: center;
  // align-items: flex-start;
  padding: 0.5rem;
}

.dot-wrapper {
  display: flex;
  flex-flow: row;
  padding: 0.5rem;
  // border: 1px solid red;
  align-items: flex-start;
}

.dot {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background: #fa5959;
  z-index: 3000;
}

.text {
  z-index: 3000;
  font-size: 2.4rem;
  line-height: 4.6rem;
  font-weight: 500;
  margin-top: -1rem;
  // border: 1px solid red;
}

.space-1 {
  height: 1rem;
  width: 100%;
}

.space-2 {
  height: 2rem;
  width: 100%;
}

.space-3 {
  height: 3rem;
  width: 100%;
}

.space-4 {
  height: 4rem;
  width: 100%;
}
