.contact {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  height: max-content;
  //   border: 1px solid red;
  font-family: "poppins", sans-serif;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid blue;
  }

  &__row {
    // border: 1px solid yellow;
  }

  &__col-left {
    // border: 1px solid green;
    z-index: 100;
  }

  &__form-wrapper {
    display: flex;
    flex-flow: column;
    min-height: 60vh;
    padding: 5rem;
    border-radius: 1rem;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    // border: 1px solid blue;
  }

  &__form--heading {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    color: #1f3f68;
    text-align: center;
    width: 100%;
  }

  &__form {
    display: flex;
    flex-flow: row wrap;
    // border: 1px solid yellow;
    width: 80%;
  }

  &__form-names {
    display: flex;
    flex-flow: row;
  }

  &__form--label {
    font-size: 1.6rem;
    line-height: 3rem;
    color: #1f3f68;
    opacity: 0.8;
  }
  &__form--input {
    font-size: 1.8rem;
    color: #1f3f68;
    opacity: 0.4;
    border: 1px solid #356ead;
    border-radius: 1rem;
    padding: 0.5rem;
    padding-left: 2rem;
    width: 100%;
  }

  &__form--email-label {
    display: flex;
    flex-flow: column;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #1f3f68;
    opacity: 0.8;
    width: 100%;
    // border: 1px solid green;
  }

  &__form--input-email {
    // flex: 2;
    font-size: 1.8rem;
    color: #1f3f68;
    opacity: 0.4;
    border: 1px solid #356ead;
    border-radius: 1rem;
    padding: 0.5rem;
    padding-left: 2rem;
  }

  &__form--message-label {
    font-size: 1.6rem;
    line-height: 3rem;
    color: #1f3f68;
    opacity: 0.8;
    width: 100%;
    min-height: max-content;
  }

  &__form--button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 80%;
  }

  &__form--button {
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: center;
    padding: 1rem;
    width: 80%;
    background: #5a98d0;
    border-radius: 1rem;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border: none;
    color: white;
    transition: all 0.5s;

    &:hover {
      transition: all 0.5s;
      box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.3);
    }
  }

  &__col-right {
    // border: 1px solid palevioletred;
  }

  &__image {
    z-index: 120;
  }
}
