.customers {
  display: flex;
  align-items: center;
  height: 50vh;
  margin: 10rem 0rem;
  //   border: 2px solid red;

  &__col {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  &__col--logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    // border: 1px solid yellow;
    margin: 0rem 5rem;
  }

  &__logo {
    margin-bottom: 2rem;
  }
}
