.footer {
  display: flex;
  align-items: center;
  height: 35vh;
  background-color: #cce9ff;
  font-family: "Poppins", sans-serif;

  &__container {
    font-size: 1.6rem;
  }

  &__row {
  }

  &__left-col {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;
    margin-right: 10rem;
  }

  &__address {
  }

  &__right-col {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;
    margin-left: 10rem;
  }

  &__social {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  &__social-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0 1rem;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    &:hover {
      transition: all 0.5s ease-in-out;
      background: white;
      // cursor: pointer;
    }
  }

  &__social-icon {
    height: 2rem;
    width: 2rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      transition: all 0.2s ease-in-out;
      transform: translateY(-0.3rem);
      cursor: pointer;
    }
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.2rem;
  height: 5vh;
  background-color: #9fd6ff;
}
