.nav {
  position: fixed;
  min-height: 8vh;
  height: max-content;
  width: 100%;
  //   border: 1px solid red;
  margin-bottom: 10rem;
  background: white;
  z-index: 1000;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);

  &__container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    // border: 1px solid blue;
  }

  &__row {
    width: 100%;
    // border: 1px solid green;
  }

  &__col-left {
    // border: 1px solid black;
  }

  &__logo {
  }

  &__col-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 4.6rem;
  }

  &__item {
    text-decoration: none !important;
    color: #282828;

    &:hover {
      color: #262f72;
    }
  }
}
