.nav {
  position: fixed;
  min-height: 8vh;
  height: max-content;
  width: 100%;
  margin-bottom: 10rem;
  background: white;
  z-index: 5000;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);

  &__container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
  }

  &__row {
    width: 100%;
  }

  &__col-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    margin-right: 20rem;
    padding: 1rem 1rem 1rem 0rem;
  }

  &__col-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 4.6rem;
  }

  &__item {
    text-decoration: none !important;
    color: #282828;
    margin-left: 2rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      transition: all 0.3s ease-in-out;
      color: #fa5959;
    }
  }

  &__active {
    &:focus {
      color: #fa5959;
    }
  }

  &__item-service {
    position: relative;
    margin-right: -3.5rem;

    li {
      float: left;
      list-style: none !important;
      text-decoration: none;
      color: #282828;
      position: relative;
      display: inline-block;

      & > a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: #282828;
        line-height: 3rem;
        height: 3rem;
        margin-top: 0.5rem;
        &:hover {
          color: #fa5959;
          border-radius: 0.2rem;
        }
        &[class^="trigger-"] {
          padding-right: 4rem;
        }

        .arrow {
          position: absolute;
          width: 1rem;
          height: 1rem;
          top: 45%;
          text-align: center;
          right: 2rem;
          border-width: 0.5rem 0.5rem 0 0.5rem;
          border-style: solid;
          border-color: rgba(#000, 0.4) transparent;
        }
      }

      ul {
        position: absolute;
        left: -60%;
        margin: 0;
        background: white;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.1);
        display: none;
        width: max-content;
        overflow: hidden;

        > li {
          clear: both;
          list-style: none;
          display: block;
          padding: 0 1rem;
          width: 100%;
          text-align: center;
          &:hover {
            background: #fa5959;
            box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.1);
            > a {
              background: #fa5959;
              color: white;
            }
          }
        }
      }

      &:hover {
        > .drop {
          display: block;
          animation: fadeInLeft 0.5s ease;
          -webkit-animation: fadeInLeft 0.5s ease;
        }
      }
    }
  }

  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translate3d(-20%, 0, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
}
